

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>

@model PagedViewModel<Productos>

<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var e in Model.Items)
    {
        <tr>
            <td>@e.Nombre</td>
            <td>@e.Descripcion</td>
            <td>@e.Precio</td>
            <td>@e.Stock</td>
            <td>
                <a onclick="detalles('@e.Id')" class="btn btn-primary">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning">Editar</a> |
                <a onclick="borrar('@e.Id')" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav aria-label="Paginación">
    <ul class="pagination justify-content-center">

        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageNumber)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)">Siguiente</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        }

    </ul>
</nav>


<!-- Modal Borrar -->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Seguro que deseas eliminar el registro</p>
            </div>
            <div class="modal-footer">
                <a id="eliminar-btn" class="btn btn-danger">Eliminar</a>
                <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalles -->
<div class="modal fade" id="detallesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="detallesModalContent" class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function borrar(id) {
            $('#eliminarModal').modal('show');
            $('#eliminar-btn').attr('href', '/Home/Delete/' + id);
        }
        function detalles(id) {
            $('#detallesModal').modal('show');
            $.ajax("/Home/Details/" + id)
                .done(function(data) {
                    $("#detallesModalContent").html(data);
            });
        }
    </script>
}

